<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<h1>Detail Product</h1>
<a href="/"><button>Main page</button></a>
<h2>{{ product.title }}</h2>
<h5>ID: {{ product.id }}</h5>
    <a>Title: {{ product.title }}</a>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Size: {{ product.size }}</p>
    <p>Data End: {{ product.date_end }}</p>
    <p>Category: {{ product.category.name }}</p>
</body>
</html>