{% extends 'layout.html' %}
{% load static %}
{% block content %}

<h1>Products List</h1>
{% for product in product_list %}
{#    <a href="/product/{{ product.id }}/">Title: {{ product.title }}</a>#}
{#    <p>Price: {{ product.price }}</p>#}
{#    <p>Category: {{ product.category.name }}</p>#}
{#    <hr/>#}
    <div class=row">
    <div class="card" style="width: 30rem;">
        <img src="{% static 'img/logo2.jpg' %}" style="width: 260px; height: 100px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="/card-title/{{ product.id }}/ }}">Товар: {{ product.title }}</h5>
            <p class="/card-text/{{ product.category.name }}">Категория: {{  product.category.name  }}</p>
            <a href="/product/{{ product.id }}/" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}


